.jumbotron.center-jumbotron
        h1 This is Jarvis.
        p.
          Jarvis is your own personal butler that controls yours your home. Login to check him out!

        a(ng-href="/register").btn.btn-success.btn-lg Sign Up!
        //- form(role='form', ng-submit="signup()").center-form
        //-   div.form-group
        //-     label(for='exampleInputEmail1') Email address
        //-     input.form-control(type='email', placeholder='Enter email', ng-model="username")
        //-   div.form-group
        //-     label(for='exampleInputPassword1') Password
        //-     input.form-control(type='password', placeholder='Password', ng-model="password")
