.jumbotron.center-jumbotron
  h1 This is Jarvis.
  p.
    Jarvis is your own personal butler that controls yours your home. Login to check him out!
  a(ng-href="/login").btn.btn-success.btn-lg.center Login

